.featured {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1024px;
  z-index: 1;
}

.featured__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 250px;
  flex: 1;
  color: white;
}

.featured__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.featured__item-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
