.app__navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.app__navbar-container {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__navbar-logo {
  font-weight: 500;
}

.app__navbar-buttons {
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
}
